@import "../../../../variables"

.at-experience-item
    .experience-item__header-content
        margin: 0

.at-experience-item.layout-context__resume-section
    margin-top: $header-section-margin

.at-experience-item.layout-context__resume-section--0
    margin-top: 0
