<div class="row at-experience-item layout-context__{{layoutContext}} layout-context__{{layoutContext}}--{{index}}">
    <div class="col">
        <div class="row">
            <div class="col-7">
                <h2 class="experience-item__header-content">
                    {{data.designation}}
                </h2>
            </div>
            <div class="col-5 text-right">
                <h2 class="experience-item__header-content">
                    {{data.years}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="experience-item__header-content">
                    {{data.company}}
                </h4>
                <h4 class="experience-item__header-content">
                    {{data.location}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <app-list [list]="data.description" layoutContext="experience-item experience-item--{{index}}">
                </app-list>
            </div>
        </div>
    </div>
</div>