@import "../../variables"

.footer
    padding: $header-section-margin 0
    border-top: 1px solid $blue

    .footer-text__top
        display: block
        cursor: pointer
        color: $black
        text-decoration: underline
