<div class="at-social-icons">
  <a href="{{this.contact.social[0]}}" class="at-social-icons__icon">
    <img class="img-fluid" src="/assets/icons/social/003-linkedin.png" alt="Linkedin profile" />
  </a>
  <a href="{{this.contact.social[1]}}" class="at-social-icons__icon">
    <img class="img-fluid" src="/assets/icons/social/001-behance.png" alt="Behance profile" />
  </a>
  <a href="{{this.contact.social[2]}}" class="at-social-icons__icon">
    <img class="img-fluid" src="/assets/icons/social/002-dribbble.png" alt="Dribbble profile" />
  </a>
</div>