@import "../../../variables"

.at-layout-main
    padding: $global-page-padding-xs

    @media (min-width: 576px)
        padding: $global-page-padding-sm

    @media (min-width: 768px)
        padding: $global-page-padding-md

    @media (min-width: 992px)
        padding: $global-page-padding-lg
