@import "../../../variables"

.protflio-header
    margin: $resume-section-margin 0

    a
        color: $blue
        text-decoration: underline

        &:hover
            color: darken($blue, 5%)

    .text-bold
        font-family: 'PublicSans', 'Roboto', sans-serif

.portfolio-section
    .portfolio-section__group
        margin-bottom: 0
