<div class="protflio-header">
    <div class="row">
        <div class="col">
            <p>
                This portfolio is categorised by domains covering
                <a href="/portfolio/#lean-ux">lean UX</a> methodologies, application of
                <a href="/portfolio/#design-thinkinh">design thinking</a>,
                <a href="/portfolio/#gamification">gamification</a> of user experience or
                <a href="/portfolio/#game-design">game design</a> in general,
                <a href="/portfolio/#visual-design">visual design</a>,
                <a href="/portfolio/#prototyping">prototyping</a> through
                <span class="text-bold">code</span> and
                <a href="/portfolio/#ideation">ideation</a> where abstract concepts take shapes.
            </p>
        </div>
    </div>
</div>

<div class="portfolio-section">
    <div class="row" *ngFor="let group of portfolio">
        <div class="col">
            <div class="row">
                <div class="col">
                    <app-header-section title="{{group.section}}"></app-header-section>
                </div>
            </div>
            <div class="row">
                <div class="col-4" *ngFor="let project of group.items">
                    <app-card title="{{project.title}}" description="{{project.description}}" cover="{{project.cover}}">
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
This portfolio is categorised by domains covering
<a (click)="scrollToElement(leanUx)">lean UX</a> methodologies, application of
<a (click)="scrollToElement(designThinking)">design thinking</a>,
<a (click)="scrollToElement(gamification)">gamification</a> of user experience or
<a (click)="scrollToElement(gameDesign)">game design</a> in general,
<a (click)="scrollToElement(visualDesign)">visual design</a>,
<a (click)="scrollToElement(prototyping)">prototyping</a> through
<span class="text-bold">code</span> and
<a (click)="scrollToElement(ideation)">ideation</a> where abstract concepts take shapes. 
-->