@import "../../../variables"

.protflio-header
    margin: $resume-section-margin 0

    a
        color: $blue
        text-decoration: underline

        &:hover
            color: darken($blue, 5%)

.portfolio-section
    .portfolio-section__group
        margin-bottom: 0

        &:last-child
            margin-bottom: -$resume-section-margin
