<div class="protflio-header">
    <div class="row">
        <div class="col-12">
            <p>
                This portfolio is categorised by domains covering
                <a routerLink="./" fragment="lean-ux" (click)="onClickScroll('lean-ux')">lean UX</a> methodologies,
                application of
                <a routerLink="./" fragment="design-thinking" (click)="onClickScroll('design-thinking')">design
                    thinking</a>,
                <a routerLink="./" fragment="gamification" (click)="onClickScroll('gamification')">gamification</a>
                of user
                experience or
                <a routerLink="./" fragment="game-design" (click)="onClickScroll('game-design')">game design</a> in
                general,
                <a routerLink="./" fragment="visual-design" (click)="onClickScroll('visual-design')">visual
                    design</a>,
                <a routerLink="./" fragment="prototyping" (click)="onClickScroll('prototyping')">prototyping</a>
                through
                <span class="text-bold">code</span> and
                <a routerLink="./" fragment="ideation" (click)="onClickScroll('ideation')">ideation</a> where abstract
                concepts take
                shapes.
            </p>
        </div>
    </div>
</div>

<div class="portfolio-section">
    <div class="row portfolio-section__group" *ngFor="let group of portfolio">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <app-header-section [id]="[group.anchor]" [title]="group.section"></app-header-section>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4" *ngFor="let project of group.items">
                    <app-card [title]="project.title" [description]="project.description" [cover]="project.cover"
                        layoutContext="portfolio-section group-{{group.anchor}}">
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</div>