@import "../../../variables"

.protflio-header
    margin: $resume-section-margin 0

    a
        color: $blue
        text-decoration: underline

        &:hover
            color: darken($blue, 5%)
