<div class="row resume-section layout-context__{{layoutContext}}">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <app-header-section id="{{feature}}" title="Contact"></app-header-section>
            </div>
        </div>

        <div class="row" *ngFor="let item of data">
            <div class="col-12">
                <h2 class="resume-section__header-content">
                    {{item.title}}
                </h2>
                <h4 class="resume-section__header-content">
                    {{item.description}}
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-social-icons></app-social-icons>
            </div>
        </div>

    </div>
</div>