<div class="row resume-section layout-context__{{layoutContext}}">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <app-header-section id="{{feature}}" title="Skills & Expertise"></app-header-section>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3" *ngFor="let item of data; index as i">
                <div class="row">
                    <div class="col-12">
                        <h2 class="resume-section__header-content">
                            {{item.domain}}
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <app-list [list]="item.skills" layoutContext="resume-section-skill section-skill--{{i}}">
                        </app-list>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>