@import "../../variables"

.card
    border: none
    cursor: pointer

    .card-media
        overflow: hidden
        position: relative

        &::after
            content: ''
            position: absolute
            height: 100%
            width: 100%
            left: 0
            top: 0
            background-color: $blue
            opacity: 0
            transition: opacity 0.4s ease-in-out

    .card-body
        margin: 0
        padding: 1rem 0
        letter-spacing: 0
        color: $black

        .card-title
            text-transform: none
            font-size: 1.125rem
            margin-bottom: 0.375rem

        .card-text
            font-size: 0.9375rem

    .card-link
        display: block
        text-decoration: none
        color: $black

        .card-img-top
            transition: transform 0.4s ease-in-out

        &:hover,
        &:focus
            color: $black
            outline: none

            .card-media::after
                opacity: 0.4

            .card-img-top
                transform: scale(1.05)
                opacity: 0.9

.card.layout-context__portfolio-section
    margin-bottom: $header-section-margin
