@import "../../variables"

.card
    border: none
    .card-body
        margin: 0
        padding: 1rem 0
        letter-spacing: 0

        .card-title
            text-transform: none
            font-size: 1.125rem
            margin-bottom: 0.375rem

        .card-text
            font-size: 0.9375rem

.card.layout-context__portfolio-section
    margin-bottom: $header-section-margin
