.at-level-value
    font-size: 1.25rem
    font-family: 'PublicSans', 'Roboto', sans-serif
    line-height: 1.4

    .at-level-value__label
        font-family: 'PublicSansBold', 'Roboto', sans-serif
