.at-navbar
    padding: 0

    .navbar-brand
        font-size: 1.125rem
        font-family: 'PublicSans', 'Roboto', sans-serif

    .navbar-nav
        .nav-link
            font-size: 1rem
            font-family: 'PublicSans', 'Roboto', sans-serif
            color: #000
            margin: 0 0 0 1rem
            cursor: pointer

        .btn
            width: 11.25rem
            font-size: 1rem
            font-family: 'PublicSans', 'Roboto', sans-serif
            color: #FFF
            text-transform: uppercase
            letter-spacing: 0
