@import "../../variables"

.at-navbar
    padding: 0

    .navbar-brand
        font-size: 1.125rem
        font-family: 'PublicSans', 'Roboto', sans-serif

    .navbar-toggler
        border: none
        color: $black

    .navbar-nav
        border-top: 1px solid $blue
        margin-top: 1rem

        .nav-link
            font-size: 1rem
            font-family: 'PublicSans', 'Roboto', sans-serif
            color: #000
            margin: 1rem 0 0 0
            cursor: pointer

        .btn
            width: 11.25rem
            font-size: 1rem
            font-family: 'PublicSans', 'Roboto', sans-serif
            color: #FFF
            text-transform: uppercase
            letter-spacing: 0

            &:active,
            &:hover,
            &:focus
                background-color: darken($blue, 10%)

            &:focus
                border-color: lighten($blue, 5%)

    @media (min-width: 992px)
        .navbar-nav
            border: none
            margin-top: 0

            .nav-link
                margin: 0 0 0 1rem
