<nav class="at-navbar navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Business Resume
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse float-right flex-row-reverse"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-link active" href="#">
        Experience
      </a>
      <a class="nav-link" href="#">
        Skills
      </a>
      <a class="nav-link" href="#">
        Pricing
      </a>
      <a class="btn btn-primary" href="#">
        Portfolio
      </a>
    </div>
  </div>
</nav>