<div class="at-intro">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h1>
            Abhinay Thakur
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          [[label value component]]
        </div>
      </div>
      <div class="row">
        <div class="col">
          [[social icons]]
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        src="https://cdn.dribbble.com/users/348324/screenshots/4525282/w-dribbble.gif"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>