@import "../../variables"

.at-intro

    .at-intro__container
        height: 60rem

        .title
            margin-bottom: $header-section-margin

            @media (min-width: 768px)
                margin-bottom: 0

    .at-intro-description__para
        margin: $resume-section-margin 0 0 0
