<div class="at-intro">
    <div class="row align-items-center at-intro__container">
        <div class="col-12 col-xl-6">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Abhinay Thakur
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-label-value label="Email:" value="sayhello@abhinaythakur.com"></app-label-value>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-social-icons></app-social-icons>
                </div>
            </div>
            <div class="row at-intro-description">
                <div class="col">
                    <p class="at-intro-description__para">
                        UX/UI designer and developer working at the intersection of design and technology. Experienced
                        in
                        cross-functional profiles across the domains of digital product design and development. This
                        diverse
                        experience and extensive understanding of visual design, gamification of user experience, the
                        psychology of
                        user interaction as well as prototyping with actual code enable me to bridge the gap between
                        design and
                        technical teams within the organisation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 text-right d-none d-xl-block">
            <video #videoPlayer width="80%" controlsList="nofullscreen nodownload"
                poster="../../assets/img/poster_video.png" autoplay="true" loop muted="muted" playsinline
                src="../../assets/videos/abstract.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
    </div>
</div>