.resume-section
    margin: 0 0 4rem 0

    .no-margin
        margin: 0

    .entry-1,
    .entry-2
        margin-top: 3rem

.section-skills
    .at-list
        .at-list__item
            .at-item__text
                margin-bottom: 0
