<div class="row">
    <div class="col">
        <app-intro></app-intro>
    </div>
</div>

<!-- EXPERIENCE -->
<div class="row">
    <div class="col-12">
        <app-experience [data]="resume['experience']" layoutContext="home" feature="experience"></app-experience>
    </div>
</div>

<!-- EDUCATION -->
<div class="row">
    <div class="col-12">
        <app-education [data]="resume['education']" layoutContext="home" feature="education"></app-education>
    </div>
</div>

<!-- SKILLS -->
<div class="row">
    <div class="col-12">
        <app-skills [data]="resume['skills']" layoutContext="home" feature="skills"></app-skills>
    </div>
</div>


<div class="row" *ngFor="let feature of resumeFeatures">

    <!-- CONTACT -->
    <div class="col resume-section" *ngIf="feature==='contact'">
        <div class="row">
            <div class="col">
                <app-header-section id="{{feature}}" title="Contact"></app-header-section>
            </div>
        </div>
        <div class="row" *ngFor="let item of resume[feature]">
            <div class="col-7">
                <h2 class="no-margin">
                    {{item.title}}
                </h2>
                <h4 class="no-margin">
                    {{item.description}}
                </h4>
            </div>
        </div>
        <app-social-icons></app-social-icons>
    </div>
</div>