<div class="row">
    <div class="col">
        <app-intro></app-intro>
    </div>
</div>
<div class="row" *ngFor="let feature of resumeFeatures">

    <!-- EXPERIENCE -->
    <div class="col resume-section" *ngIf="feature==='experience'">
        <div class="row">
            <div class="col">
                <app-header-section id="{{feature}}" title="Professional Experience"></app-header-section>
            </div>
        </div>
        <div class="row" *ngFor="let item of resume[feature]">
            <div class="col">
                <div class="row">
                    <div class="col-7">
                        <h2>
                            {{item.designation}}
                        </h2>
                    </div>
                    <div class="col-5 text-right">
                        <h2>
                            {{item.years}}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>
                            {{item.company}}
                        </h4>
                        <h4>
                            {{item.location}}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <app-list [list]="item.description"></app-list>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDUCATION -->
    <div class="col resume-section" *ngIf="feature==='education'">
        <div class="row">
            <div class="col">
                <app-header-section id="{{feature}}" title="Education"></app-header-section>
            </div>
        </div>
        <div class="row" *ngFor="let item of resume[feature]">
            <div class="col">
                <div class="row">
                    <div class="col-7">
                        <h2>
                            {{item.institute}}
                        </h2>
                    </div>
                    <div class="col-5 text-right">
                        <h2>
                            {{item.years}}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>
                            {{item.course}}
                        </h4>
                        <h4>
                            {{item.location}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SKILLS -->
    <div class="col resume-section" *ngIf="feature==='skills'">
        <div class="row">
            <div class="col">
                <app-header-section id="{{feature}}" title="Skills & Expertise"></app-header-section>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngFor="let item of resume[feature]">
                <h2>
                    {{item.domain}}
                </h2>
                <app-list [list]="item.skills"></app-list>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="col resume-section" *ngIf="feature==='contact'">
        <div class="row">
            <div class="col">
                <app-header-section id="{{feature}}" title="Contact"></app-header-section>
            </div>
        </div>
        <div class="row" *ngFor="let item of resume[feature]">
            <div class="col-7">
                <h2>
                    {{item.title}}
                </h2>
                <h4>
                    {{item.description}}
                </h4>
            </div>
        </div>
        <app-social-icons></app-social-icons>
    </div>
</div>