<div class="row">
    <div class="col">
        <app-intro></app-intro>
    </div>
</div>

<!-- EXPERIENCE -->
<div class="row">
    <div class="col-12">
        <app-experience [data]="resume['experience']" layoutContext="home" feature="experience"></app-experience>
    </div>
</div>

<!-- EDUCATION -->
<div class="row">
    <div class="col-12">
        <app-education [data]="resume['education']" layoutContext="home" feature="education"></app-education>
    </div>
</div>

<!-- SKILLS -->
<div class="row">
    <div class="col-12">
        <app-skills [data]="resume['skills']" layoutContext="home" feature="skills"></app-skills>
    </div>
</div>

<!-- CONTACT -->
<div class="row">
    <div class="col-12">
        <app-contact [data]="resume['contact']" layoutContext="home" feature="contact"></app-contact>
    </div>
</div>