@font-face
    font-family: 'PublicSans', 'Roboto', sans-serif
    src: url('assets/fonts/PublicSans/PublicSans-Regular.woff2') format('woff2')

@font-face
    font-family: 'PublicSansLight'
    src: url('assets/fonts/PublicSans/PublicSans-ExtraLight.woff2') format('woff2')

@font-face
    font-family: 'PublicSansBold'
    src: url('assets/fonts/PublicSans/PublicSans-Bold.woff2') format('woff2')

body
    font-family: 'PublicSansLight', 'Roboto', sans-serif
    line-height: 1.4
    font-size: 1.5rem
    letter-spacing: -0.0375rem

h1, .h1
    font-family: 'PublicSansLight', 'Roboto', sans-serif
    line-height: 1.4
    font-size: 5rem
    letter-spacing: -0.125rem

h2, .h2
    font-family: 'PublicSansLight', 'Roboto', sans-serif
    line-height: 1.4
    font-size: 1.875rem
    letter-spacing: -0.0375rem

h3, .h3
    font-family: 'PublicSansBold', 'Roboto', sans-serif
    line-height: 1.4
    font-size: 1rem
    font-weight: 800
    letter-spacing: 0
    text-transform: uppercase

h4, .h4
    font-family: 'PublicSansLight', 'Roboto', sans-serif
    line-height: 1.4
    font-size: 1.25rem
    letter-spacing: 0
