$blue: #0924FC
$black: #000000
$white: #ffffff

$resume-section-margin: 4rem
$header-section-margin: 2rem
$experience-section-margin: 3rem
$list-item-text-margin: 2rem
$list-margin: 2rem

$global-page-padding-xs: 2rem 2rem 0 2rem
$global-page-padding-sm: 2rem 2rem 0 2rem
$global-page-padding-md: 4rem 3rem 0 3rem
$global-page-padding-lg: 4rem 6rem 0 6rem
