$blue: #0924FC
$black: #000000
$white: #ffffff

$resume-section-margin: 4rem
$header-section-margin: 2rem
$experience-section-margin: 3rem
$list-item-text-margin: 2rem
$list-margin: 2rem

$global-page-padding: 4rem 6rem
