<div class="row resume-section layout-context__{{layoutContext}}">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <app-header-section id="{{feature}}" title="Education"></app-header-section>
            </div>
        </div>

        <div class="row" *ngFor="let item of data">
            <div class="col-12">

                <div class="row">
                    <div class="col-7">
                        <h2 class="resume-section__header-content">
                            {{item.institute}}
                        </h2>
                    </div>
                    <div class="col-5 text-right">
                        <h2 class="resume-section__header-content">
                            {{item.years}}
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h4 class="resume-section__header-content">
                            {{item.course}}
                        </h4>
                        <h4 class="resume-section__header-content">
                            {{item.location}}
                        </h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>